@import "../../styles/mixins";

.FlashcardViewerWrapper {
  height: 100%;
  width: 100%;
  &__header {
    height: 66px;
    width: 100%;
    @include make-flex($just: flex-start, $dir: row);
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #a3a3a3;
  }

  &__container {
    min-height: calc(100% - 66px);
    width: 100%;
    @include make-flex($just: flex-start);
    background: #f8fcff;
    gap: 20px;
    padding: 30px;
  }
}
